body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

p {
  margin: 0;
}

header {
  background-color: lightyellow;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}